#container { }

#main-content { }

#header {
    text-align: center;
    font-weight: bold;
    color: hsla(14, 100%, 53%, 0.6);
}

#footer {
    text-align: center;
    line-height: .5em;
    color: hsla(14, 100%, 53%, 0.6);
}

.right-note {
    border: 1px solid blue;
    width: 20%;
    background-color: hsla(14, 100%, 53%, 0.6);

    float: right;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.first-letter {
    color: hsla(14, 100%, 53%, 0.6);
    font-size: 2.0em;
}


.smallcaps {
    font-variant: small-caps;
}

.underline {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.strike {
    text-decoration: line-through;
}
